results/**
resources/**
.snakemake
.snakemake/**
.venv/**
.env/**
.DS_Store
!.gitignore
!.gitattributes
!.editorconfig
**.conda
**.condarc
**.cache
**.java

# Custom additions
Notes.md
.vscode/*
.snakemake-workflow-catalog.yml
.test/results/*
Dockerfile
singularity.def
snakemake-bacterial-riboseq.sif
